<%- include('./partials/header')-%>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form method="POST" action="/add">
                <div class="form-group">
                    <label for="name">Model</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="factory">Constructeur</label>
                    <select class="form-control" name="factory">
                        <% factories.forEach(function(factory) {%>
                        <option value="<%=factory.id%>"><%=factory.name%></option>
                        <%});%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="year">Année</label>
                    <input type="text" class="form-control" name="year">
                </div>
                <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label for="energy">Carburant</label>
                    <select class="form-control" name="energy">
                        <% energies.forEach(function(energy) {%>
                        <option value="<%=energy.id%>"><%=energy.name%></option>
                        <%});%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Url de l'image</label>
                    <input type="text" class="form-control" name="image"">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

<%- include('./partials/footer')-%>